

:root{
    --amarelo: #e8da17;
    --roxo: #7a3bd5;
    --roxo-claro: #d4c0f1;
    --branco: #e9e9e1;
    --vermelho: #fe5558;
    --azul: #21c1e1;
    --branco2: #f7f2ff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*slides*/
.containerproje{
    position: relative;
}
.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

/*animação*/
@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
}

.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: black;
}
.containerproje .slide-container .slide .contentproje p{
    font-size: 18px;
    color: black;
    width: 40%;
    height: 10%;
}
.containerproje .slide-container .slide .contentproje .btnproj{
    margin-top: 10px;
    display: inline-block;
    background: transparent;
    color: black;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #8932c3;
    text-decoration: none;
}
.containerproje .slide-container .slide .contentproje .btnproj:hover{
    background: #8932c3;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url(img/slide-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(img/slide-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(img/slide-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje #prev, 
.containerproje #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #f5f5f5;
    background: var(--roxo);
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50%;

}
.containerproje #prev:hover, 
.containerproje #next:hover{
    background: var(--roxo-claro);
}

.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}

/*contato*/
.contato{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.whats p{
    font-size: 16px;
}
.whats img{
    width: 100px;
    height: 100px;
    margin-left: 20%;
}
.insta p{
    font-size: 16px;
}
.insta img{
    width: 100px;
    height: 100px;
    margin-left: 20%;
}
.reuniao p{
    font-size: 16px;
}
.reuniao img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20%;
}
.whats p{
    width: 330px;
}
.insta p{
    width: 330px;
}
.reuniao p{
    width: 330px;
}

/*serviços*/
.servico{
    display: flex;
    justify-content: space-around;
}
.servico img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
}
.servico h3{
    font-size: 22px;
}
.servico p{
    font-size: 17px;
}

/*precisando...*/
.precisando{
    background-color: var(--roxo);
    width: 100vw;
    height: 430px;
}
.precisando img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 6%;
}
.precisando h1{
    font-size: 39px;
    color: whitesmoke;
    margin-top: -10%;
    margin-left: 30%;
}
.precisando p{
   color: whitesmoke;
   margin-left: 30%;
}
.precisando button{
    padding: 13px;
    width: 300px;
    cursor: pointer;
    background: transparent;
    color: whitesmoke;
    border: 2px solid #f7f2ff;
    margin-left: 30%;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
} 
.precisando button:hover{
    background: white;
    color: var(--roxo);
    transition: 0.5s;
}
.precisando button:hover{
    background-color: white;
}
.precisando button a:hover{
    color: var(--roxo);
}

/*sobre*/
.sobre{
    background: var(--roxo-claro);
}
.sobre img{
    width: 400px;
    height: 210px;
    margin-left: 62%;
    margin-top: -7%;
    border-radius: 10px 0 10px 0;
}
.sobre p{
    font-size: 19px;
}
.sobre h1{
    margin-left: 22%;
}
.sobre p{
    margin-left: 22%;
    width: 500px;
}

/*equipe*/
.equipe{
    display: flex;
    justify-content: space-around;
}
.equipe img{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    cursor: pointer;
}
/*footer*/
footer{
    background-color: var(--roxo-claro);
}
footer img{
    width: 80px;
    height: 80px;
}
.links a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: black;    
}

@media screen  and (max-width: 768px){
   body{
    overflow-x: hidden;
   }
   /*slides*/
   .containerproje #prev{
    top: 60%;
    left: 0;
   }
   .containerproje #next{
    top: 60%;
    right: 0;
   }

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    width: 70%;
    height: 10%;
}

   /*contato*/
   .contato{
    display: block;
    margin-left: 10%;
   }
   .contato div{
    margin:80px;
   }
    .whats p{
    width:220px;
}
    .insta p{
    width:220px;
}
    .reuniao p{
    width: 220px;
}

/*serviços*/
.servico{
    display: block;
    margin-left: 30%;
}
.servico img{
    width: 200px;
    height: 200px;
}

/*sobre*/
.sobre{
    height: 300px;
}
.sobre img{
    display: none;
}
.sobre h1{
    font-size: 26px;
    margin-top: -24%;
    margin-left: 0%;
    text-align: center;
}
.sobre p{
    font-size: 16px;
    width: 300px;
    margin-left: 10%;
}

    /*footer*/
    footer img{
        width: 60px;
        height: 60px;
    }

    /*precisando...*/
    .precisando{
        height: 250px;
    }
    .precisando img{
        width: 100px;
        height: 100px;
        margin-left: 70%;
    }
    .precisando h1{
        font-size: 28px;
        margin-top: -24%;
        margin-left: 6%;
    }
    .precisando p{
        width: 240px;
        margin-left: 4%;
    }
    .precisando button{
        margin-left: 4%;
        width: 270px;
    }
    .equipe{
        display: block;
        margin-left: 35%;
    }
    .equipe div{
        margin: 14px;
    }
    .equipe img{
        width: 140px;
        height: 140px;
    }
    .equipe h3{
        width: 140px;
    }
}

